//mobile
.loremsection__list {
  display: flex;
  flex-wrap: wrap;
}

.loremsection__background {
  display: flex;
  max-width: 450px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: $ninthcolor;
  border-radius: 4px;
  margin-bottom: 30px;
}
.loremsection__description {
  line-height: 1.71;
  text-align: left;
  color: $thirdcolor;
}
.loremsection__header {
  letter-spacing: 0.03em;
  font-weight: 700;
  color: $brandcolor;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
}
//tablet
@media (min-width: 768px) {
  .loremsection__item {
    flex-basis: calc((100% - 30px) / 2);
  }

  .loremsection__background {
    width: 354px;
  }

  .loremsection__header {
    text-align: left;
  }
}

//desktop
@media (min-width: 1200px) {
  .loremsection {
    &__item {
      flex-basis: calc((100% - 90px) / 4);
    }
    &__background {
      width: 270px;
    }

    &__header {
      letter-spacing: 0.03em;
      font-weight: 700;
      color: $brandcolor;
      margin-bottom: 10px;
      font-size: 14px;
    }
  }
}
