//mobile and tablet

.main-section {
  background-color: $sixthcolor;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4) 50%, rgba(47, 48, 58, 0.4) 50%),
    url(../images/backgroundimage_mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  &__header {
    font-size: 26px;
    font-weight: 900;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-align: center;
    color: $fifhtcolor;
    margin-bottom: 30px;
    max-width: 365px;
  }

  &__button {
    text-align: center;
    padding: 10px 41px;
    margin: 0 auto;
  }
}
@media (min-device-pixel-ratio: 2) {
  .main-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4) 50%, rgba(47, 48, 58, 0.4) 50%),
      url(../images/backgroundimage_mobile2x@2.jpg);
  }
}
//tablet
@media (min-width: 768px) {
  .main-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4) 50%, rgba(47, 48, 58, 0.4) 50%),
      url(../images/backgroundimage_tablet.jpg);
  }
}
@media (min-device-pixel-ratio: 2) {
  .main-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4) 50%, rgba(47, 48, 58, 0.4) 50%),
      url(../images/backgroundimage_tablet2x@2.jpg);
  }
}
//desktop
@media (min-width: 1200px) {
  .main-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4) 50%, rgba(47, 48, 58, 0.4) 50%),
      url(../images/backgroundimage_desktop.jpg);

    &__header {
      font-size: 44px;
      font-weight: 900;
      line-height: 1.36;
      letter-spacing: 0.06em;
      text-align: center;
      color: $fifhtcolor;
      margin-bottom: 30px;
      width: 696px;
    }
  }
  @media (min-device-pixel-ratio: 2) {
    .main-section {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4) 50%, rgba(47, 48, 58, 0.4) 50%),
        url(../images/backgroundimage_desktop2x@2.jpg);
    }
  }
}
