.menu {
  position: fixed;
  top: 0;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background-color: $fifhtcolor;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  padding-top: 48px;
  padding-left: 40px;
  &__toggle {
    background: inherit;
  }
  &__toggle-close {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    background: $fifhtcolor;
  }
  &__link {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: #212121;
  }
  &__link--active {
    margin-bottom: 36px;
  }
  &__contact {
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    letter-spacing: 0.02em;
    color: $thirdcolor;
  }
}
@media (min-width: 768px) {
  .menu {
    display: none;

    &__toggle {
      display: none;
    }
  }
}
