//mobile and tablet
.secondheader {
  letter-spacing: 0.03em;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  color: $brandcolor;
  margin-bottom: 30px;
}

//desktop
@media (min-width: 1200px) {
  .secondheader {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
